---
title: "Research"
description: "Research projects"
---



<!-- <!-- {% assign ordered_pages = site.research | sort:"order_number" %} -->
<!-- {% for post in ordered_pages %} -->
<!--   {% include archive-single.html type="grid" %} -->
<!-- {% endfor %} -->
<!-- -->
<!-- The Rummel Lab is interested broadly in locomotor physiology and biomechanics, and the effect of temperature and other environmental conditions on animal movement. We love bats but are interested in other small vertebrates like anole lizards.  -->
<!-- <h3>Bat flight, body temperature, and environmental temperature</h3> -->
<!-- <img src="/images/heatbalance.png" style="height: 312px; width: 395px; float: right; margin-left: 15px; margin-bottom: 30px; margin-top: 0px"> -->
<!-- Bats find themselves in a unique thermal environment. Since they are primarily active at night their wings are vulnerable to substantial radiative and conductive heat loss, even in warm ambient conditions. Despite this, bat wing muscles are so poorly insulated as to be clearly visible through the skin, and the distal muscles cool substantially during flight. We are exploring in a comparative framework how environmental conditions, different aspects of wing morphology, and flight behavior influence regional heterothermy in diverse bats.  -->
<!-- <br> -->
<!-- <h3>Bat flight mechanics and wing morphology</h3> -->
<!-- <img src="/images/noctilio_wing.jpg" style="height: 253px; width: 380px; float: left; margin-right: 15px; margin-bottom: 30px; margin-top: 0px"> -->
<!-- Bat wings are beautiful, complex, and dynamic. We are interested in how bat wings function during flight, and we have current projects looking at wingbeat kinematics, wing muscle activity during flight, the contractile properties of key flight muscles, and the material properties and organization of the wing membrane.  -->
<!-- <br> -->
<!-- <br> -->
<!-- <h3>Urbanization and wildlife</h3> -->
<!-- Bats are abundant mammals in Houston and throughout North America; huge colonies of Mexican free-tailed bats roost under bridges and in other human-made structures throughout the city. We are exploring the impact of features of the urban environment on bat physiology and survival. We are particularly interested in yearround bat residents of the city and how they cope with extreme summer heat and cooler winters, including extreme cold events.  -->
<!-- We are currently assessing the spatial distribution of bats in and around the city of Houston using mobile acoustic surveys. If you're in the Houston area and would like to participate, please email us!   -->
<!-- <img src="/images/greenanole.jpg" style="height: 226px; width: 302px; float: left; margin-right: 15px; margin-bottom: 15px; margin-top: 0px"> -->
<!-- We are also exploring work with anoles in Houston. Ectotherms do not maintain body temperatures physiologically and thus are more susceptible to changes in environmental temperature. I am interested in understanding how directional thermal change impacts anoles at subcritical temperatures–how are they adapting to warmer, but not lethal, temperatures? Working with green and brown anoles in and around Houston, this project integrates experimental data on the effects of temperature on locomotor performance and muscle contractile function with transcriptomic data to characterize the nature and mechanism of thermal adaptation in the locomotor system.  -->
<!-- <!-- img src="/images/noctilio_wing.jpg" style="height: 253px; width: 380px; float: left; margin-right: 15px; margin-bottom: 30px; margin-top: 0px" -->
